body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-top: 10px;
  
}

#imageContainer {
    position: relative;
    width: 75%; /* Réduit la taille des images */
    height: auto;
}

#cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.image-set {
    display: none;
    width: 100%;
    height: auto;
}

.image-set.active {
    display: block;
}


#slider::-webkit-slider-thumb {
    width: 24px; /* Augmente la taille du pouce du slider */
    height: 24px;
    background: #007BFF;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #0056b3;
}

#buttons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 150px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

button.active {
    border: 2px solid red; /* Contour rouge pour le bouton actif */
    transform: scale(1.1); /* Légère augmentation de la taille */
}

button:hover {
    background-color: #0056b3;
}


/* Style de la liste des appartements */
#appartement-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75%; /* Aligner avec la largeur de l'image */
  text-align: center;
}

.appartement {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
}

.appartement h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.appartement p {
  font-size: 1em;
  color: #555;
}

.appartement button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.appartement button:hover {
  background-color: #0056b3;
}

/* Appartements grisés (indisponibles) */
.appartement.disabled {
  opacity: 0.5;
}

.appartement.disabled button {
  background-color: #ccc;
  cursor: not-allowed;
}



/* Modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

#virtualTour {
  width: 100%;
  height: 60vh; /* Ajustez la hauteur selon vos besoins */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}







/* 

SLIDER DESIGN */

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    background-color: transparent;

    &:focus {
      outline-color: #f8b195;
    }
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
}


  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }






/* Responsive Design */
@media (max-width: 768px) {
  #buttons {
      position: static;
      top: auto;
      right: auto;
      transform: none;
      gap: 5px;
      margin-right: 85px;
  }

  #container {
      padding: 5px;
      margin-top: 180px;
  }

  .modal-content {
      margin: 5% auto;
      width: 95%;
  }
}

@media (max-width: 480px) {
  #slider {
      width: 100%;
  }

  .appartement {
      max-width: 90%;
  }
  

  #virtualTour {
      height: 50vh; /* Ajuste la hauteur pour les très petits écrans */
  }
}